<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>

{{>header}}

<body>
<article>
    <h1>HOMEPAGE</h1>
    <a href="/info">About Page</a>
</article>
</body>

{{>footer}}

</html>