<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HELLO</title>
</head>

{{>header}}

<body>
<article>
    <h1>HOMEPAGE</h1>
    <a href="">About Page</a>
    <a href="http://localhost:8080/404">Weather Page</a>
</article>
</body>

{{>footer}}

</html>